* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #666;
  }
  
  input {
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 250px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    transition: border 0.3s ease;
  }
  
  input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  button {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-top: 30px;
  }
  
  div {
    margin-top: 20px;
  }
  
  div span {
    font-size: 1.5rem;
    margin-right: 10px;
    display: inline-block;
  }
  
  .green {
    color: green;
  }
  
  .yellow {
    color: yellow;
  }
  
  .black {
    color: black;
  }
  